* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.3px;
}

button {
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  transition: all 0.3s;
}

body {
  background: linear-gradient(90deg, rgba(67, 190, 219, 0.4178921569) 0%, rgba(140, 207, 204, 0.4571078431) 10%, rgba(58, 232, 218, 0.2134103641) 41%, rgba(236, 240, 51, 0.1321778711) 67%, rgba(197, 200, 42, 0.1237745098) 88%);
}

.wrapper {
  max-width: 900px;
  padding: 0 15px;
  margin: 20px auto;
  border-radius: 10px;
  background-color: rgba(6, 11, 58, 0.6);
  color: #fff;
}

.input-panel {
  padding: 20px 0 30px;
}
.input-panel__form {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 35px;
}
.input-panel__text {
  flex: 0 1 50%;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
}
.input-panel__text:focus {
  outline: 2px solid rgb(6, 11, 58);
}
.input-panel__btn {
  flex: 0 0 35px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  background-image: url("../icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.error {
  color: #a6c1d9;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #000000;
}

.forecast.not-active {
  pointer-events: none;
  opacity: 0.3;
}

.forecast__controls {
  font-size: 16px;
  margin-bottom: 20px;
}
.forecast__controls .units {
  display: inline-block;
  margin-right: 40px;
  color: #a6c1d9;
}
.forecast__controls .units button.active {
  color: #ffffff;
  cursor: auto;
}
.forecast__controls > button {
  border-bottom: 1px solid #a6c1d9;
  color: #a6c1d9;
}
.forecast__controls > button:hover {
  color: #ffffff;
}

.forecast__start-block {
  max-width: 700px;
  margin: 0 auto;
}
.forecast__start-block .start-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 599.98px) {
  .forecast__start-block .start-item {
    font-size: 14px;
  }
}

.one-day-weather {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
@media (max-width: 599.98px) {
  .one-day-weather {
    font-size: 14px;
    flex-wrap: wrap;
  }
}
@media (max-width: 319.98px) {
  .one-day-weather__other-info {
    font-size: 12px;
  }
}
.one-day-weather__other-info {
  display: flex;
  gap: 10px;
}
@media (min-width: 240px) {
  .one-day-weather__other-info {
    flex-direction: column;
    position: relative;
  }
  .one-day-weather__other-info::before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background-color: #a6c1d9;
    position: absolute;
    top: 0;
    left: -20%;
  }
}
@media (min-width: 240px) and (min-width: 320px) {
  .one-day-weather__other-info::before {
    left: -45%;
  }
}
.one-day-weather__other-info div {
  margin-bottom: 5px;
}
.one-day-weather__other-info img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.one-day-weather__short-forecast {
  flex: 0 1 30%;
}
@media (max-width: 599.98px) {
  .one-day-weather__short-forecast {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    gap: 5px;
  }
}
.one-day-weather__short-forecast .forecast-item {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  gap: 5px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 599.98px) {
  .one-day-weather__short-forecast .forecast-item {
    width: 30%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .one-day-weather__short-forecast .forecast-item .icon {
    display: none;
  }
}
@media (min-width: 600px) {
  .one-day-weather__short-forecast .forecast-item {
    justify-content: space-between;
    gap: 10px;
    min-height: 55px;
    padding: 0 10px;
  }
}
.one-day-weather__short-forecast .forecast-item div {
  flex: 0 1 25%;
}
.one-day-weather__short-forecast .forecast-item .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hourly-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
@media (max-width: 599.98px) {
  .hourly-item {
    font-size: 14px;
  }
}
@media (max-width: 479.98px) {
  .hourly-item {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
  }
}
.hourly-item:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 -15px;
  padding-left: 15px;
  padding-right: 15px;
}
.hourly-item div {
  flex: 0 1 16%;
  text-align: center;
}
.hourly-item img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}

.forecast__week {
  padding-bottom: 20px;
}
.forecast__week .forecast-item {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.forecast__week .forecast-item:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}
.forecast__week .main {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
@media (max-width: 599.98px) {
  .forecast__week .main {
    flex-wrap: wrap;
    font-size: 14px;
    gap: 5px;
  }
}
@media (min-width: 600px) {
  .forecast__week .main {
    height: 50px;
  }
}
.forecast__week .other {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
@media (max-width: 599.98px) {
  .forecast__week .other {
    flex-wrap: wrap;
    font-size: 14px;
    gap: 10px;
  }
}
.forecast__week .location {
  font-size: 18px;
  margin-bottom: 20px;
}
.forecast__week .date {
  flex: 0 0 6%;
}
@media (max-width: 599.98px) {
  .forecast__week .date {
    flex-basis: 10%;
  }
}
.forecast__week .icon {
  flex: 0 0 8%;
}
.forecast__week .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.forecast__week .summary {
  font-size: 14px;
}

.description {
  text-transform: capitalize;
}

.another-color {
  color: #a6c1d9;
  display: block;
}

.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #a6c1d9;
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 #a6c1d9, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 #a6c1d9, 100px 0 #a6c1d9, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 #a6c1d9, 110px 0 #a6c1d9, 100px 0 #a6c1d9, 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 #a6c1d9, 120px 0 #a6c1d9, 110px 0 #a6c1d9, 100px 0 #a6c1d9;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 #a6c1d9, 120px 0 #a6c1d9, 110px 0 #a6c1d9;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #a6c1d9, 120px 0 #a6c1d9;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 #a6c1d9;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}/*# sourceMappingURL=style.css.map */